[submodule "ext/TCLAP"]
	path = ext/TCLAP
	url = git://git.code.sf.net/p/tclap/code
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
	branch = v2.10.1
[submodule "ext/pb-cpp"]
	path = ext/pb-cpp
	url = https://github.com/nabijaczleweli/pb-cpp
	branch = v0.1.3
[submodule "ext/ffmpeg"]
	path = ext/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = n4.2.1
