*
!ext
!ext/**
!src
!src/**
!tests
!tests/**
!build-tests
!build-tests/**
!.git*
!.clang-format
!*.yml
!*Makefile
!*.sublime-project
!LICENSE
!gh_rsa.enc
!README.md
!pictura-mediocritas.rc
!pictura-mediocritas.md
